body {
    background-color: red;
    background: url(../paper_fibers.png);
}

#side_bar {
    width: 20px;
    height: 100%;
    background: #222;
    position: fixed;
    left: 30px;
}

#head {
    width: 100%;
    margin-bottom: 100px;
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background: #222;
    font-family: "Raleway", sans-serif;
    position: relative;
    top: 50px;
    padding: 5px;
    font-size: 40px;
    font-weight: 300;
    color: #EEE;
    border-bottom: 10px solid #222;
}

#photos {
    position: relative;
    left: 30px;
    /* Prevent vertical gaps */
    line-height: 0;
    display: block;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;
}

#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border: 5px solid black;
}

#photos .container {
    margin: 20px;
    margin-top: 30px;
    cursor: pointer;
}

#photos .container:hover > img {
    -moz-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    -o-transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
    transform: rotatey(180deg);
}