html,body,*
{
	margin:0px;
	padding:0px;
	font-family: 'Raleway', sans-serif;
}

body
{
	background-color: #F5F5F5
}

section
{
	padding-top:50px;
	text-align: center;
	width:100%;
	min-height:700px;
	/*border:1px solid black;*/
}

img
{
	width:300px;
}

a:link {color:#222;}      /* unvisited link */
a:visited {color:#222;}  /* visited link */
a:hover {color:#222;}  /* mouse over link */
a:active {color:#222;}  /* selected link */
a 
{
	text-decoration:none;
}
#name h1
{
	color:#222;
	font-size: 80px;
	font-weight: 100;
	padding:80px;
	padding-top:200px;
	padding-bottom:0px;
}
#name h3
{
	font-size: 30px;
	font-weight: 100;
	color:#888;
}
.content h1
{
	font-size: 50px;
	font-weight: 100;
	color:#222;
}

p 
{
	margin-top:20px;
	margin-left:50px;
	margin-right:50px;
	font-family: 'Roboto Slab', serif;
	text-align: left;
	font-size:20px;

	font-family: 'Quattrocento', serif;
}

.cover
{
	border-radius: 150px;
}

.subsection
{
	display: none;
}

#container
{
	margin:0px auto;
	margin-top:75px;
	max-width:1000px;
}

header
{
	top:0;
	position: fixed;
	height: 75psx;
	width:100%;
	font-size:20px;
	background-color: #FEFEFE;
	border-bottom: 1px solid rgba(0,0,0,.2);
	z-index:100;
}

header ul
{
	list-style-type: none;
	float:right;
}

header ul li
{
	text-align: center;
	width:100px;
	display: inline-block;
	padding:20px;
	margin:5px;
	color:#222;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition:all .5s;
}

header ul li::after
{
	position: absolute;
	content:'';
	top:32px;
	left:70px;
	width:0px;
	height: 0px;
	z-index: -1;
	transition:all .5s;
	border-radius: 100px;background-color: #42c096;
}

header ul li:hover::after
{
	top:-45px;
	left:-7px;
	width:154px;
	height:154px;
	background-color: #42c096;
	color:white;
}

header ul li:hover
{
	color:white;
}

.chevron
{
	cursor: pointer;
	font-family: serif;
	position:relative;
	top:0px;
	-webkit-animation:myfirst 4s; /* Chrome, Safari, Opera */
	animation:myfirst 4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform: rotate(90deg);
	animation-iteration-count: infinite;
	transform: rotate(90deg);
	padding:10px;
	margin-top:50px;
	font-size:80px;
	letter-spacing:-15px;
	display: inline-block;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst
{
	0%{top:0px;color:#222;}
	20% {top:10px; color:#42c096;}
	40%{top:0px;color:#222;}
}

/* Standard syntax */
@keyframes myfirst
{
	0%{top:0px;color:#222;}
	20% {top:10px; color:#42c096;}
	40%{top:0px;color:#222;}
}


footer
{
	/*height: 75px;*/
	width:100%;
	font-size:20px;
	background-color: #FEFEFE;
	border-top: 1px solid rgba(0,0,0,.2);
	z-index:100;
	text-align: center;
}

footer ul
{

	list-style-type: none;
	margin:0px auto;
}

footer ul li
{
	text-align: center;
	width:100px;
	display: inline-block;
	padding:20px;
	margin:5px;
	color:#222;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition:all .5s;
	z-index:1;
}

footer ul li::after
{
	position: absolute;
	content:'';
	top:50%;
	left:50%;
	width:0%;
	height: 0%;
	z-index: -1;
	transition:all .5s;
	border-radius: 100px;
}

footer ul li:hover::after
{
	top:-45px;
	left:-7px;
	width:154px;
	height:154px;
	background-color: #42c096;
	color:white;
}

footer ul li:hover
{
	color:white;
}
