body
{
	background-color: #EEE;
	text-align: center;
}
#a
{
	display: inline-block;
  background-color:#e74c3c;
  margin:0px auto;
  padding:100px;
  margin-top:75px;
}

svg
{
	background: #c0392b;
	border-radius:1000px;
}