.experienceExplanation
{
	max-width:1000px;
	margin:25px auto;
	margin-bottom:75px;
}

.experienceExplanation h3
{
	padding-top:20px;
}

.experienceExplanation ul
{
	font-family:$bodyFont;
}

.experienceExplanation h2
{
	padding-bottom:0px;
}