section
{
	padding-top:50px;
	padding-bottom:50px;
	text-align: center;
	width:100%;
	// min-height:500px;
	margin-bottom:150px;
	width: 100%;
}

.cover
{
	width:300px;
	border-radius: 150px;
}

.subsection
{
	width:33.3333%;
	float:left;
	margin:0px;
	padding-top:50px;
	padding-bottom:50px;
}

#name h1
{
	color:#222;
	font-size: 80px;
	font-weight: 100;
	padding:80px;
	padding-top:150px;
	padding-bottom:0px;
}
#name h3
{
	font-size: 30px;
	font-weight: 100;
	color:#888;
}

@media (max-width: 650px) {
  #name h1 {
  	padding:60px;
  	padding-top:75px;
  	padding-bottom:00px;
  	font-size: 60px;
  }
  #name h3
	{
		font-size: 25px;
	}
}

.top h1
{
	font-size: 50px;
	font-weight: 100;
	color:#222;
}
.top
{
	margin:0px auto;
	max-width: 1000px;
	padding-bottom:25px;
}

.subsectionCover
{
	margin:20px;
	width:200px;
}

#contact
{
	background:$green;
	margin-bottom:0;
}