body
{
	position: relative;
	text-align:center;
	margin: 0px;
	color:white;
	font-family: 'Raleway', sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:auto 100%;
	background-color: #CCC;
	transition :all .5s, left 1.2s;
	background-clip:content-box;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

#color_selector
{
	margin-bottom: -20px;


}
#color_selector .center
{
	width:360px;
	height:60px;
	margin: 0px auto;
}

#color_selector .color
{
	float:left;
	width:40px;
	height:40px;
	margin:10px;
	box-shadow: 0 0  0px #222 inset;
	transition:all .3s;
	border-radius: 100px;
}
#color_selector div:hover
{
	height:60px;
	cursor: pointer;
}
#black
{
	background-color: #666;
}
#green
{
	background-color: #3BD67D;
}

#red
{
	background-color: #EB6F62;
}
#blue
{
	background-color: #4593E3;
}

#yellow
{
	background-color: #FCD04B;
}

#purple
{
	background-color: purple;
}
#title
{
	padding-top: 1px;
	padding-bottom: 1px;
	width: 100%;
	background-color: rgba(0,0,0,.8);
	box-shadow: 0 0 50px #222;
}

#recipees
{
	margin: 0px auto;
	text-align: left;
}

#search
{
	margin-top:-25px;
	padding-bottom: 20px;	
}

input
{
	width:250px;
	border-radius: 500px;
	border: 0 solid #000;
	box-shadow: 0 0 5px #FFF;
	padding:8px;
	transition:all .5s;
}

input:focus
{ 
	box-shadow: 0 0 15px #FFF; 
	outline: none;
	border-radius: 25px;
}


h1
{
	font-weight: normal;
	font-size: 50px;
	padding: 10px;
	color:white;
	text-shadow: 0 0 10px  #000;
}
h2
{
	font-weight: normal;
	font-size: 40px;
	padding: 10px;
	color:white;
	background-color: rgba(0,0,0,.6);
	display:inline-block;
	border-radius: 15px;
	padding-left:20px;
	padding-right:20px;

}

.recipee:hover
{
	background-color: rgba(0,0,0,.9);
	cursor: pointer;
}

.recipee
{
	overflow:hidden;
	float: left;
	padding:10px;
	margin:10px;
	margin-top:30px;
	display: block;
	font-size: 30px;
	border-radius: 10px;
	transition:all .5s, width 2s, height 2s;
	background-color: rgba(0,0,0,.5);
	border-bottom: 4px solid rgba(0,0,0,.9);
}
#left_page
{
	width: 100%;
	position: absolute;
	right:-100%;
	top:0px;
	

}
#back
{
	position: absolute;
	font-size: 100px;
	z-index: 100;
	top:10px;
	left:25px;
	text-shadow: 0 0 4px #222;
	cursor: pointer;

}

#ingredients
{

	position: absolute;
	top:80px;
	width:50%;
}


#ingredients ul
{

	list-style: none;
}

#ingredients li
{
	background-color: rgba(0,0,0,.6);
	padding:10px;
	margin:15px;
	border-radius: 15px;
	font-size: 25px;
	border-bottom: 4px solid rgba(0,0,0,.9);
	transition:all .2s;
}

#ingredients li:hover
{
	background-color: rgba(0,0,0,.85);
}




#instructions
{
	position: absolute;
	top:80px;
	left:50%;
	width:50%;
	font-size: 20px;
	padding-top:-10px;
}
#instructions p

{
	border-radius: 15px;
	padding:15px;
	background-color: rgba(0,0,0,.7);
	text-align: left;
	margin:25px;
	margin-right:50px;
}

#instructions li

{
	padding: 10px;
}

#food
{
	margin:0px;
	height:120px;
	position: relative;
	position: fixed;
	z-index: 100;
	top:-35px;
	left:100%;
	width:100%;
	background-color: rgba(0,0,0,.8);
	box-shadow: 0 0 50px #222;
	transition:all .6s;
	text-shadow: 0 0 10px  #222;

}