.description
{
  position:fixed;
  width:100%;
  height: 100%;
  top:0;
  left:100%;
  background: $colorPrimary;
  // opacity: 0;
  transition:left $transition-time, opacity $transition-time;
  // transition-timing-function:$timing-function
}

.shown
{
  opacity: 1;
  left:0%;
}

#close
{
  font-size: 300%;
  position: absolute;
  top:10px;
  right:10px;
}

#close::after
{
width:0;
}