$colorPrimary: rgb(66,192,150);
$colorPrimary: rgb(66,150,192);
// $colorSecondary: #D85282;
$colorSecondary: rgba(0,0,0,.2);
$opacity: .8;
$transition-time:.6s;
// $timing-function: cubic-bezier(.8000, 0.000, 0.000, 1.000); /* easeInOutExpo */

@import 'button';
@import 'skills';
@import 'detailsPain';
@import 'banner';
@import 'showcase';

html
{
    position: relative;
    left: 0px;
    overflow-x: hidden;
    // transition:left $transition-time;
    // transition-timing-function:$timing-function
}

body
{
    margin-bottom: 45px;
    margin-bottom: 45px;
    font-family: 'Roboto Slab', serif;
    background: rgb(250,250,250);
}

.container-fluid
{
  padding-top:25px;
}

.col-sm-4
{
    padding-top:    0.1em;
    padding-bottom: 0.1em;
}

.navigationContainer
{
  margin:0px auto;
  max-width:1366px;
}

.noscroll
{
  // overflow: hidden;
  left:-100%;
  transition:left $transition-time;
  // transition-timing-function:$timing-function
}

#exp_svg
{
  width:340px;
  display: block;
  margin:0px auto;
}

#background_svg
{
  background:rgb(250,250,250);
  position: absolute;
  top:0;
  left:0;
  z-index:-1;
  margin: 0px;
}

.link {stroke: rgba(50,50,50,.1);}
.node {stroke: white; stroke-width:2px;fill:$colorPrimary;opacity:.2;}

.centeringParent {
  position: relative;
  height: 100%;
  margin-left:5%;
  margin-right:5%;
  color: white;
}
.centeringChild {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 13pt;
  line-height: 105%;
}


@media screen and (min-width: 530px)
{
    svg
    {
        margin-left: 125px;
    }
}